body{
    background-color: darkorange;
    font-family: serif;
}

table{
    background-color: white;
    font-family: Arial;
    text-align= left;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
}
thead{
    background-color: darkcyan;
    border-bottom: solid 5px #0F362D;
    color: aliceblue;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white;
}
#asd{
    background-color: darkcyan;
    border-bottom: solid 5px #0F362D;
    color: aliceblue;
}
#midiv {
    
}
